body{
    background-color: white;
}

.dashboard-wrapper{
    display: grid;
    height: calc(100vh - 2rem);
    padding: 1rem 0.25rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5fr 5fr 1fr;
    justify-content: center;
    align-items: center;
}

.dashboard-wrapper > div{
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dashboard-wrapper > div:hover{
    
}

.dashboard-event{
    /* background: blue; */
    grid-row-end: span 2;
}

.dashboard-humidity{
    background: url('/public/icons/rain.png');
    background-color: rgba(198, 212, 221, 0.3);
    color: rgb(13, 15, 158);
}

.dashboard-thermometre{
    background: url('/public/icons/temp.png');
    background-size: 450px;
    background-repeat: no-repeat;
    /* background-origin: content-box; */
    background-position: center;
    background-color: rgba(172, 157, 157, 0.205);
    /* color: rgb(13, 15, 158); */
}

.dashboard-presence{
    background: #f6fff8;
}

.dashboard-gas{
    background: url('/public/icons/gas.png') rgba(233, 223, 223, 0.3);
    background-origin: content-box;
    background-repeat: round;

}
