.presence-wrapper{
	justify-self: center;
}

.icon-animation{
    animation-duration: 1s;
    animation-name: detect-animation;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes detect-animation{
	from { 
		transform: translate(0);
	}
	to{
		transform: translate(1rem, 0rem); 
	}
}