
  @keyframes wave-front {
    100% {
      transform: translate(-50%, 0);
    }
  }
  @keyframes wave-back {
    100% {
      transform: translate(50%, 0);
    }
  }
  @keyframes drop {
    0% {
      width: 4%;
    }
    90% {
      width: 10%;
    }
    100% {
      transform: translate(0, 400%);
    }
  }
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(6deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes pound1 {
    0% {
      opacity: 0;
      transform: rotate(20deg);
    }
    10% {
      opacity: 1;
    }
    40% {
      width: 20%;
    }
    60% {
      opacity: 0;
    }
    100% {
      width: 20%;
      transform: translate(-90%, -200%) rotate(-20deg);
    }
  }
  @keyframes pound2 {
    0% {
      opacity: 0;
      transform: rotate(-20deg);
    }
    10% {
      opacity: 1;
    }
    40% {
      width: 20%;
    }
    60% {
      opacity: 0;
    }
    100% {
      width: 20%;
      transform: translate(50%, -200%) rotate(20deg);
    }
  }
  .circle {
    box-shadow: 0 0 8px 2px rgba(193, 193, 193, 0.5);
    height: 450px;
    width: 450px;
    margin: 50px auto;
    background-color: white;
    border-radius: 100%;
    position: relative;
  }
  
  .loader-water {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
  }
  .loader-water .water {
    position: absolute;
    left: 10%;
    bottom: 10%;
    z-index: 2;
    width: 100%;
    height: 20%;
    transform: translate(0, 50%);
    background: #7cc1ff;
  }
  .loader-water .water_wave {
    width: 200%;
    position: absolute;
    bottom: 100%;
  }
  .loader-water .water_wave_back {
    right: 0;
    fill: #54aaf7;
    animation: wave-back 1.9s infinite linear;
  }
  .loader-water .water_wave_front {
    left: 0;
    fill: #7cc1ff;
    margin-bottom: -1px;
    animation: wave-front 1.4s infinite linear;
  }
  .loader-water .pound1 {
    opacity: 0;
    position: absolute;
    left: 36%;
    top: 50%;
    width: 15%;
    z-index: 4;
    animation: pound1 2.8s infinite cubic-bezier(0.19, 1, 0.22, 1);
    animation-delay: 1.4s;
  }
  .loader-water .pound2 {
    opacity: 0;
    position: absolute;
    left: 66%;
    top: 50%;
    width: 15%;
    z-index: 4;
    animation: pound2 2.8s infinite cubic-bezier(0.19, 1, 0.22, 1);
  }
  .loader-water .drop {
    position: absolute;
    left: 57%;
    top: 5%;
    width: 10%;
    z-index: 4;
    fill: #7cc1ff;
    animation: drop 1.4s infinite cubic-bezier(0.95, 0.05, 0.795, 0.035);
  }
  .loader-water .sink {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    fill: #4e4e4e;
  }
  .loader-water .loading {
    position: absolute;
    width: 50%;
    left: 35%;
    top: 83%;
    z-index: 5;
    animation: loading 3s infinite ease-in-out;
    transform-origin: 50% 0%;
  }